*{
    box-sizing: border-box;
}

body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0px;
}

#app{
    height: 100vh;
    display: flex;
    align-items: center;
    /* grid-auto-rows: minmax(120px, auto);
    grid-template-columns: 1fr; */
    color: whitesmoke;
    justify-content: center;
    /* grid-gap: 1em; */
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    transform-style: preserve-3d;
    overflow: hidden;
}

.app__background {
    position: fixed;
    inset: 0px;
    z-index: -1;
}
.app__background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cube {
    width: 385px;
    height: 560px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transform-origin: left;
    transition: transform 0.3s;
}

.cube::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    background: #000000d6;
    border-radius: 60px 0px 0px 0px;
    transform: translateX(150%);
    opacity: 0;
    transition: opacity 0.2s 0.3s, transform 0.2s 0.3s;
}

.cube.rotateY-0-deg::before {
    transform: rotateY(0deg) translateX(0%);
    opacity: 1;
}

.cube::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    background: #000000d6;
    border-radius: 0px 60px 0px 0px;
    transform: rotateY(90deg) translateX(-150%);
    opacity: 0;
    transition: opacity 0.2s 0.3s, transform 0.2s 0.3s;
}

.cube.rotateY-minus-90-deg::after {
    transform: rotateY(90deg) translateX(50%);
    opacity: 1;
}

.cube.rotateY-minus-90-deg {
    transform: rotateY(-90deg);
}

.cube.rotateY-0-deg {
    transform: rotateY(0deg);
}

.cube > div .wrapper {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cube > div .wrapper .headline
,.cube > div .wrapper .entry .title {
    font-family: cursive;
    margin-bottom: 1.5rem;
}

.cube.rotateY-0-deg .front-face .wrapper,
.cube.rotateY-minus-90-deg .aside-face .wrapper {
    opacity: 1;
    transform: translateX(0px);
}

.cube-face {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: 0px 9px 3px 0px yellow;
}

.cube.rotateY-minus-90-deg .cube-face,
.cube.rotateY-0-deg .cube-face{
    background: #000000d6;
    background: transparent;
}

.front-face {
    border-radius: 60px 0px 0px 0px;
}

.front-face .wrapper {
    opacity: 0;
    transition: opacity 0.2s 0.3s, transform 0.2s 0.3s;
    transform: translateX(-300px);
    
    /* display: none; */
}

.front-face .wrapper form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: transparent;
    position: relative;
}

.aside-face {
    border-radius: 0px 60px 0px 0px;
    transform: rotateY(90deg);
    transform-origin: left;
}

.aside-face .wrapper {
    opacity: 0;
    transform-origin: left;
    transform: translateX(300px);
    transition: opacity 0.2s 0.3s, transform 0.2s 0.3s;

    /* display: none; */
}

.aside-face .wrapper .entry {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    background: transparent;
}

/* .cube.rotateY-minus-90-deg .aside-face > div {
    opacity: 1;
    transform: translateX(0px);
} */

.arrow {
    display: block;
    width: fit-content;
    height: fit-content;
    line-height: 0;
    margin: 0;
    font-size: 20px;
    position: relative;
    background: transparent;
    z-index: 5;
}
.arrow:hover {
    animation: translateX 0.3s infinite ease-in;
}

@keyframes translateX {
    0% {
        transform: translateX(0px);
    }

    40% {
        transform: translateX(2px);
    }

    70% {
        transform: translateX(5px);
    }
}

.arrow::before,
.arrow::after {
    content: "";
    width: 25px;
    height: 2px;
    background-color: #ffed8c;
    display: block;
    position: absolute;
    border-radius: 50%;
    animation: scaleX 0.2s infinite ease-in;
}

.arrow::before {
    top: 4px;
}

.arrow::after {
    bottom: 4px;
}

.left-arrow::before,
.left-arrow::after {
    right: -56%;
    transform-origin: left;
}

.right-arrow::before,
.right-arrow::after {
    left: -56%;
    transform-origin: right;
}

@keyframes scaleX {
    0% {
        transform: scaleX(0.3);
    }

    40% {
        transform: scaleX(0.6);
    }

    60% {
        transform: scaleX(0.8);
    }

    70% {
        transform: scaleX(1);
    }
}

.right-arrow {
    margin: 0px 0px 0px auto;
}

.front-face button#generate {
    width: 100%;
    height: 70px;
    flex-shrink: 0;
    background: #4646467a;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    box-shadow: 0px 2px 0px 1px #f5deb3, 0px 0px 1px;
    padding: 0.5rem 0rem;
    margin-bottom: 1rem;
    transition: background 0.3s;

}

.front-face button#generate:hover {
    background-image: linear-gradient(45deg, black, #f7fb00);
}

.front-face button#generate.loading-animation {
    cursor: not-allowed;
    pointer-events: none;
    background-image: linear-gradient(45deg, black, #f7fb00);
    background-position: 194%;
    background-repeat: repeat-x;
    background-size: 50%;
    background-attachment: scroll;
    animation: pos 1s infinite ease-in-out;
}

@keyframes pos {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 210%;   
    }
}

.weather-icon {
    font-size: 100px;
    color: yellow;
}

#entry-holder{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#date,
#temp,
#content{
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    gap: 1rem;
    border-bottom: 1px solid;
}

/* style date , temp and content elements when they are empty */
#date.empty,
#temp.empty,
#content.empty{
    display: none;
}

.headline {
    height: fit-content;
    width: fit-content;
    font-weight: bolder;
    font-size: 30px;
    color: yellow;
    border: 8px dotted;
    border-color: transparent transparent yellow transparent;
    padding: 0.5rem;
}

.title{
    font-size: 27px;
    color: yellow;
    line-height: 3;
}

#date i
,#temp .deg-icon {
    font-size: 30px;
    color: yellow;
}

#temp .deg-icon {
    font-family: sans-serif;
}

#temp .deg-icon sup{
    font-size: 15px;
}
/*  Basic Styling To Override Default For Basic HTML Elements */
input,
select,
textarea,
button{
    outline: none;
    border: none;
}

label{
    display:block;
    font-size: 20px;
}

input{
    display: block;
    width: 100%;
    color: #ffed8c;
    background: transparent;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 0px 0px 2px;
    padding: 0.5rem 1rem;
    border: 2px solid;
    border-color: transparent #ffed8c #ffed8c transparent;
    transition: border 0.1s;
}

input:focus {
    border-color: #ffed8c;
}

button{
    color: #ffed8c;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    cursor: pointer;
}

h1{
    font-size: 36px;
}

textarea{
    width: 100%;
    background: transparent;
    color: #ffed8c;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    padding: 1rem;
    box-shadow: 0px 0px 2px;
    border: 2px solid;
    border-color: transparent transparent #ffed8c #ffed8c;
    transition: border 0.1s;
    resize: none;
}
textarea:focus {
    border-color: #ffed8c;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #ffed8c; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #ffed8c; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #ffed8c; 
    font-family: 'Oswald', sans-serif;

} 